@import url('/css/base.css');

li.selected {
    border-radius: 10px;
}

.fs-tree {
    list-style-position: inside;
    list-style-type: none;
}

.fs-tree, .fs-tree li {
    width: fit-content;
    padding: 5px;
}

ul {
    padding-left: 10px;
}

li.directory {
    padding-right: 10px;
}

.fs-tree .entry-head {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.share-item > * {
    padding: 5px;
}

.share-item a,
.fs-tree .entry-name {
    word-break: break-all;
}

.share-info {
    text-align: center;
}

.directory, .file {
    width: fit-content;
}

.fs-tree .entry-controls,
.fs-tree .entry-name,
.fs-tree .entry-info {
    padding-left: .5em;
}

.fs-tree .entry-controls,
.fs-tree .entry-info {
    display: flex;
    align-items: center;
}

li.directory:not(:has(> ul.fs-tree > li.file, > ul.fs-tree > li.directory))::after {
    content: "<EMPTY>";
    padding: 5px;
}

.collapsed {
    display: none;
}

.collapsible {
    user-select: none;
    cursor: pointer;
}
